@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    --color-primary: rgb(30, 30, 124); 
    --color-secondary: #444eb1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
 background-color: var(--color-primary);
 color: #fff;
 text-align: center;
 font-size: 2.5rem;
 padding: 2rem 0;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    max-width: 80%;
    flex-grow: 1;
    padding: 3rem 0;
}

main {
    max-width: 60vw;
    margin-right: 2rem;
}

.main__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 800px;
}

.main__header {
    font-size: 3rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-top: 2rem solid lightblue;
}

aside {
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem 0 2rem;
    min-width: 20rem;
}

aside img {
    width: 100%;
    max-width: 35rem;
}

.img__text {
    max-width: 30rem;
}

.img__text h3 {
      margin: .75rem 0;
}
.img__text-link {
    font-size: 1.6rem;
    text-decoration: none;
   
}

.img__text-paragraph {
    font-size: 1.2rem;
    max-width: 15rem;
    max-width: 25rem;
}

footer {
    background-color: var(--color-primary);
    height: 20vh;
}

@media only screen and (max-width: 800px) {

    html {
        font-size: 55%;
    }

    .container {
        flex-direction: column;
        margin: 2rem auto;
    }
}